:root {
  --text-color: rgba(156, 167, 184, 1);
  --blackblack-500: rgba(0, 0, 0, 1);
  --greygrey-500: rgba(196, 196, 196, 1);
  --absolutewhite: rgba(255, 255, 255, 1);
  --grey-50: rgba(121, 124, 134, 1);
  --whitewhite-500: rgba(255, 255, 255, 1);
  --blackblack-400: rgba(20, 20, 20, 1);
  --dark-12: rgba(28, 28, 33, 1);
  --heading-h5-font-family: "Labil Grotesk", Helvetica;
  --heading-h5-font-weight: 500;
  --heading-h5-font-size: 20px;
  --heading-h5-letter-spacing: -0.2px;
  --heading-h5-line-height: 139.9999976158142%;
  --heading-h5-font-style: normal;
  --body-XL-font-family: "Labil Grotesk", Helvetica;
  --body-XL-font-weight: 400;
  --body-XL-font-size: 20px;
  --body-XL-letter-spacing: -0.2px;
  --body-XL-line-height: 139.9999976158142%;
  --body-XL-font-style: normal;
  --navigation: 0px 12px 20px 0px rgba(0, 0, 0, 0.04);
  --colors-base-black: rgba(0, 0, 0, 1);
  --colors-primary-600: rgba(69, 142, 34, 1);
  --number-system-main-system-8px: 8px;
  --number-system-main-system-10px: 10px;
  --number-system-main-system-12px: 12px;
}
